<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AppyThoughts</title>
    <link rel="stylesheet" type = "text/css" href="/style.css">

</head>

<script type="text/javascript">
    
</script>
<body>

    <div id='fixed-profilePicture'>

        <img src="/foxIcon.png" style="width:50px;height:50px">  James Fleming  <button>Logout</button>
        <br>
    
    
    </div>

    <div class="mainContainer">
        <h1> Search Results: <%=searchTerm %> </h1>
        

        
        <ul>
            <% thoughts.forEach(function(thought){ %>
                <div class="card" id=" <%= thought.thoughtID %>  ">
                    <div class="cardContainer">
                        <h2><%= thought.thoughtText %></h2>
                        <h6>Posted by: <%=thought.postedBy%> on <%= thought.createdAt.toLocaleString('en-GB',{ timeZone: 'UTC'}) %></h6>
                    </div>

                </div>
                <br>
                
            <% }); %>
        </ul>
        <br>
        
    </div>
</body>
</html>